.Categories {
  margin-top: 50px;
  .categories-card {
    width: calc(100% / 5 - 20px);
    margin: 10px auto;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #eeeeee3b;
    box-shadow: 0px 0px 12px 3px rgb(238 238 238 / 33%);
    color: black;
    transition: 0.3s;
    &:hover {
      background-color: $main-color;
    }
  }
  a {
    text-decoration: none;
  }
  .icon {
    font-size: 35px;
  }
  .title {
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
  }
  @media (max-width: 992px) {
    .categories-card {
      width: calc(100% / 3 - 20px);
    }
  }
  @media (max-width: 767px) {
    margin-top: 0;
    .categories-card {
      padding: 16px 0;
      width: calc(100% / 3 - 6px);
      margin: 3px auto;
      box-shadow: none;
      border-color: #eeeeeee8;
    }
    .icon {
      font-size: 27px;
    }
    .title {
      font-size: 12px;
    }
  }
}
