.DiscountSec {
  margin-top: 40px;
  .row {
    justify-content: space-between;
  }
  .discount-card {
    width: calc(100% / 2 - 15px);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
  }
  .red-card {
    background-color: $light-red;
  }
  .blue-card {
    background-color: $light-blue;
  }
  .discount {
    color: $main-color;
    font-size: 24px;
    font-family: $header-font;
    font-weight: 600;
  }
  .title {
    font-size: 29px;
    font-weight: 700;
    padding: 8px 0;
  }
  .info {
    color: rgb(0 0 0 / 52%);
    font-weight: 500;
  }
  .shop-btn {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    padding: 7px 17px;
    border-radius: 5px;
  }
  .content {
    width: 60%;
  }
  .img-fluid {
    width: 40%;
  }
  @media (max-width: 992px) {
    .discount-card {
      width: 92%;
      margin: 10px auto;
    }
  }
  @media (max-width: 585px) {
    .discount-card,
    .img-fluid {
      display: block;
    }
    .content,
    .img-fluid {
      width: 100%;
    }
    .img-fluid {
      max-width: 86%;
      margin: 20px auto 0 auto;
    }
  }
}
