.Services {
  background: url("/home-bg.png");
  padding: 40px 0;
  margin-top: 20px;
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cae4aa33;
    z-index: -1;
  }
  .img-fluid {
    max-width: 71%;
    display: block;
    margin: auto;
  }
  .header {
    margin-top: 25px;
    color: $main-color;
    font-family: $header-font;
    font-size: 30px;
    font-weight: 700;
  }
  .desc {
    color: #5d5d5d;
  }
  .services-container {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .icon {
    color: $main-color;
    color: #fcb546;
    border: 2px solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 15px auto;
    font-size: 33px;
  }
  .card-title {
    margin-bottom: 10px;
    font-family: $header-font;
    font-size: 21px;
    font-weight: 700;
  }
  .services-card {
    margin-bottom: 20px;
  }
  @media (max-width: 992px) {
    padding: 0;
    .img-fluid {
      max-width: 92%;
      margin: 30px auto;
    }
    .card-title {
      margin-bottom: 2px;
    }
  }
}
