@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body,
html {
  font-family: "Montserrat" !important;
}

.center-ver-ali {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 85%;
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

.SectionHr .title {
  position: relative;
  padding-left: 35px;
  margin-top: 70px;
  font-size: 19px;
  color: #fcb546;
  font-weight: 600;
}
.SectionHr .title::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 73px;
  left: 0;
  top: -22px;
  border-radius: 6px;
  background-color: #fcb546;
}
.SectionHr .title-desc {
  margin-top: 37px;
  font-size: 26px;
  font-weight: 600;
  font-family: "Roboto";
}
@media (max-width: 992px) {
  .SectionHr .title-desc {
    font-size: 22px;
  }
}

.loader {
  display: block;
  margin: 40px auto;
}

.copy {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  background-color: white;
  font-size: 19px;
}
.copy a {
  text-decoration: none;
  color: #fcb546;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .copy {
    display: block;
    font-size: 16px;
  }
  .copy .name {
    margin-bottom: 8px;
  }
}

.navbar {
  background-color: transparent !important;
  align-items: center;
}
.navbar .logo {
  width: 180px;
}
.navbar .search-form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .form-floating {
  width: 85%;
}
.navbar form {
  position: relative;
}
.navbar .search-btn {
  font-size: 23px;
  position: absolute;
  right: 77px;
  bottom: 15px;
  cursor: pointer;
}
.navbar .form-control {
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #f8f8f8;
}
.navbar .navbar-nav {
  align-items: center;
  justify-content: end;
}
.navbar .icon {
  margin-left: 15px;
  background-color: #f8f8f8;
  color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
}
.navbar .nav-link {
  font-weight: 600;
  margin-right: 19px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7019607843);
}
.navbar .d-block-mobile {
  display: none;
}
.navbar .error {
  border-color: red;
}
.navbar .true {
  border-color: transparent;
}
@media (max-width: 1300px) {
  .navbar .form-floating {
    width: 64%;
    margin-left: -66px;
  }
  .navbar .search-btn {
    right: 144px;
  }
  .navbar .nav-link {
    margin-right: 5px;
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .navbar .logo {
    width: 150px;
  }
  .navbar .d-block-mobile {
    display: block;
  }
  .navbar .form-floating {
    width: 100%;
    margin-left: 0;
    font-size: 13px;
  }
  .navbar .search-form {
    width: 120%;
  }
  .navbar .search-btn {
    right: 13px;
    font-size: 17px;
    bottom: 17px;
    color: #606060;
  }
}

.TopNav {
  border-bottom: 1px solid #eee;
}

.BtmNav {
  padding: 20px 0;
}

.TopNav {
  padding: 11px 0;
}

@media (max-width: 1300px) {
  .navbar-expand-lg .navbar-collapse {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .BtmNav {
    padding: 11px 0;
  }
  .TopNav {
    justify-content: space-between;
  }
  .TopNav .search-form,
  .TopNav .d-none-mobile {
    display: none;
  }
}
.Homepage {
  height: 800px;
  background: url("/home-bg.png");
  position: relative;
}
.Homepage .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 213, 0, 0.03);
}
.Homepage .slider-card {
  height: 700px;
  padding: 40px;
}
.Homepage .row {
  flex-wrap: nowrap;
}
.Homepage .bg-color {
  background-color: #e6f3fa;
  margin-top: 30px;
  border-radius: 20px;
  width: 56%;
}
.Homepage .sm-color {
  margin-left: 30px;
  width: 42%;
}
.Homepage .swiper-discount {
  font-size: 33px;
  font-weight: 600;
  color: #ffba00;
}
.Homepage .swiper-header {
  font-size: 45px;
  font-weight: 700;
}
.Homepage .swiper-desc {
  font-size: 17px;
  color: #7a7a7a;
  margin-top: 13px;
}
.Homepage .Shop-btn {
  border: 1px solid #828282;
  text-align: center;
  text-decoration: none;
  color: #2b2b2b;
  padding: 10px 45px;
  display: inline-block;
  margin-top: 27px;
  font-size: 18px;
  border-radius: 4px;
}
.Homepage .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  width: 15px;
  height: 15px;
}
.Homepage .swiper-pagination-bullet-active {
  background: #fcb546;
}
.Homepage .extraItems-discount {
  font-size: 34px;
  font-family: fangsong;
}
.Homepage .sale {
  margin-left: 70px;
  position: relative;
  padding: 23px 0;
}
.Homepage .sale::before {
  position: absolute;
  content: "";
  left: -70px;
  top: 35px;
  height: 1px;
  width: 65px;
  background-color: black;
}
.Homepage .extraItems-head {
  font-size: 18px;
  font-weight: 700;
}
.Homepage .extraItems-card {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 20px;
  height: 335px;
  position: relative;
  align-items: center;
  padding: 40px;
}
.Homepage .extraItems-card img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.Homepage .top-card {
  background-color: #eef5e5;
}
.Homepage .btm-card {
  background-color: #f9ebe7;
}
@media (max-width: 1400px) {
  .Homepage .swiper-header,
  .Homepage .extraItems-discount {
    font-size: 27px;
  }
  .Homepage .extraItems-head {
    font-size: 15px;
  }
  .Homepage .extraItems-card img {
    max-width: 51%;
  }
  .Homepage .Shop-btn {
    padding: 10px 26px;
  }
}
@media (max-width: 1200px) {
  .Homepage {
    height: 1540px;
  }
  .Homepage .row {
    flex-wrap: wrap;
  }
  .Homepage .sm-color,
  .Homepage .bg-color {
    width: 98%;
    margin: 20px auto;
  }
  .Homepage .sm-color {
    margin-top: -20px !important;
  }
}
@media (max-width: 992px) {
  .Homepage {
    height: 2190px;
  }
  .Homepage .d-flex {
    display: block !important;
  }
  .Homepage .slider-card {
    height: -moz-fit-content;
    height: fit-content;
  }
  .Homepage .sm-color,
  .Homepage .bg-color {
    width: 92%;
  }
  .Homepage .slider-card,
  .Homepage .extraItems-card {
    padding: 35px 20px;
  }
}
@media (max-width: 767px) {
  .Homepage {
    height: 1800px;
  }
}
@media (max-width: 585px) {
  .Homepage {
    height: 1650px;
  }
}

.Categories {
  margin-top: 50px;
}
.Categories .categories-card {
  width: calc(20% - 20px);
  margin: 10px auto;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgba(238, 238, 238, 0.231372549);
  box-shadow: 0px 0px 12px 3px rgba(238, 238, 238, 0.33);
  color: black;
  transition: 0.3s;
}
.Categories .categories-card:hover {
  background-color: #fcb546;
}
.Categories a {
  text-decoration: none;
}
.Categories .icon {
  font-size: 35px;
}
.Categories .title {
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
}
@media (max-width: 992px) {
  .Categories .categories-card {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 767px) {
  .Categories {
    margin-top: 0;
  }
  .Categories .categories-card {
    padding: 16px 0;
    width: calc(33.3333333333% - 6px);
    margin: 3px auto;
    box-shadow: none;
    border-color: rgba(238, 238, 238, 0.9098039216);
  }
  .Categories .icon {
    font-size: 27px;
  }
  .Categories .title {
    font-size: 12px;
  }
}

.ExploreCategories {
  background-color: black;
  color: white;
  padding: 10px 71px;
  margin-top: 90px;
}
.ExploreCategories .ExploreCategories-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ExploreCategories .ExploreCategories-info {
  color: #fcb546;
  font-weight: 600;
}
.ExploreCategories .ExploreCategories-head {
  font-size: 69px;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 19px;
}
.ExploreCategories .item {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 30px 26px 25px 0;
}
.ExploreCategories .item .num {
  font-family: system-ui;
  font-weight: 700;
  font-size: 18px;
}
.ExploreCategories .buy {
  background-color: #fcb546;
  color: white;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  padding: 14px;
  font-weight: 600;
  margin-top: 25px;
}
@media (max-width: 1400px) {
  .ExploreCategories .ExploreCategories-head {
    font-size: 48px;
  }
}
@media (max-width: 1200px) {
  .ExploreCategories .ExploreCategories-head {
    font-size: 38px;
  }
  .ExploreCategories .counter {
    justify-content: space-between;
    margin: 20px 0;
  }
  .ExploreCategories .item {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .ExploreCategories {
    padding: 35px;
  }
  .ExploreCategories .ExploreCategories-head {
    font-size: 35px;
    line-height: 1.2;
  }
  .ExploreCategories .item {
    width: 65px;
    height: 65px;
    font-size: 12px;
  }
  .ExploreCategories .buy {
    width: 160px;
    padding: 10px;
  }
  .ExploreCategories .img-fluid {
    margin-top: 20px;
  }
}

.DiscountSec {
  margin-top: 40px;
}
.DiscountSec .row {
  justify-content: space-between;
}
.DiscountSec .discount-card {
  width: calc(50% - 15px);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.DiscountSec .red-card {
  background-color: #f9ebe7;
}
.DiscountSec .blue-card {
  background-color: #e6f3fa;
}
.DiscountSec .discount {
  color: #fcb546;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 600;
}
.DiscountSec .title {
  font-size: 29px;
  font-weight: 700;
  padding: 8px 0;
}
.DiscountSec .info {
  color: rgba(0, 0, 0, 0.52);
  font-weight: 500;
}
.DiscountSec .shop-btn {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  padding: 7px 17px;
  border-radius: 5px;
}
.DiscountSec .content {
  width: 60%;
}
.DiscountSec .img-fluid {
  width: 40%;
}
@media (max-width: 992px) {
  .DiscountSec .discount-card {
    width: 92%;
    margin: 10px auto;
  }
}
@media (max-width: 585px) {
  .DiscountSec .discount-card,
  .DiscountSec .img-fluid {
    display: block;
  }
  .DiscountSec .content,
  .DiscountSec .img-fluid {
    width: 100%;
  }
  .DiscountSec .img-fluid {
    max-width: 86%;
    margin: 20px auto 0 auto;
  }
}

.Services {
  background: url("/home-bg.png");
  padding: 40px 0;
  margin-top: 20px;
  position: relative;
}
.Services .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(202, 228, 170, 0.2);
  z-index: -1;
}
.Services .img-fluid {
  max-width: 71%;
  display: block;
  margin: auto;
}
.Services .header {
  margin-top: 25px;
  color: #fcb546;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}
.Services .desc {
  color: #5d5d5d;
}
.Services .services-container {
  text-align: center;
  display: flex;
  align-items: center;
}
.Services .icon {
  color: #fcb546;
  color: #fcb546;
  border: 2px solid;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 15px auto;
  font-size: 33px;
}
.Services .card-title {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 700;
}
.Services .services-card {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .Services {
    padding: 0;
  }
  .Services .img-fluid {
    max-width: 92%;
    margin: 30px auto;
  }
  .Services .card-title {
    margin-bottom: 2px;
  }
}

.ASRApp {
  margin-top: 40px;
}
.ASRApp .row {
  position: relative;
  z-index: 3;
}
.ASRApp .row::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 75%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 40px;
  background-color: #e6f3fa;
}
.ASRApp .img-card {
  display: flex;
  justify-content: end;
}
.ASRApp .text-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ASRApp .text-card .img-fluid {
  margin-right: 20px;
}
.ASRApp .header {
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto";
}
.ASRApp .desc {
  font-size: 19px;
  width: 89%;
  color: #6d6d6d;
  padding: 20px 0;
}
@media (max-width: 1400px) {
  .ASRApp .header {
    font-size: 22px;
  }
  .ASRApp .desc {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .ASRApp .img-card {
    justify-content: center;
  }
  .ASRApp .row::before {
    height: 109%;
  }
  .ASRApp .text-card {
    margin-top: 30px;
  }
}
@media (max-width: 585px) {
  .ASRApp {
    width: 90%;
    margin: 60px auto;
  }
  .ASRApp .text-card img {
    max-width: 43%;
  }
}

footer {
  margin-top: 70px;
}
footer .nav-link {
  padding: 3px 0;
  font-size: 17px;
}
@media (max-width: 767px) {
  footer .py-5 {
    padding: 0 !important;
  }
}/*# sourceMappingURL=main.css.map */