@import "./assets/globalClasses";
@import "./assets/globalImport";
@import "./assets/navbar";
@import "./assets/Homepage";
@import "./assets/categories";
@import "./assets/ExploreCategories";
@import "./assets/DiscountSec";
@import "./assets/Services";
@import "./assets/ASRApp";
@import "./assets/footer";
